Cold Email Automation.blueprint.json
{
    "name": "Cold Email Automation",
    "flow": [
        {
            "id": 31,
            "module": "google-sheets:watchRows",
            "version": 2,
            "parameters": {
                "from": "drive",
                "mode": "select",
                "limit": 10,
                "sheetId": "Sheet1",
                "__IMTCONN__": 5546416,
                "spreadsheetId": "/1e90quE0Sz9nPv9A2oj3q3lTBTZEt9Kb1LFUPdJ_YD90",
                "tableFirstRow": "A1:Z1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -227,
                    "y": 11
                },
                "restore": {
                    "parameters": {
                        "from": {
                            "label": "My Drive"
                        },
                        "mode": {
                            "label": "Search by path"
                        },
                        "sheetId": {
                            "label": "Sheet1"
                        },
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (book.beats01@gmail.com)"
                        },
                        "spreadsheetId": {
                            "path": [
                                "New Prospects 17 july 2025"
                            ]
                        },
                        "includesHeaders": {
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "text",
                        "label": "Row with headers",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "fullName (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "firstName (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "about (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "jobRole (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "companyName (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "email (F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "Status (G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "(H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "(I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "(J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "(K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "(L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "(M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "(N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "(O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "(P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                    }
                ]
            }
        },
        {
            "id": 11,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 52,
                    "y": 19
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 13,
                            "module": "google-email:ActionSendEmail",
                            "version": 2,
                            "parameters": {
                                "account": 5558585
                            },
                            "filter": {
                                "name": "follow up",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{31.`6`}}",
                                            "b": "sent",
                                            "o": "text:contain"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "cc": [],
                                "to": [
                                    "{{31.`5`}}"
                                ],
                                "bcc": [],
                                "from": "",
                                "html": "Just wanted to quickly follow up on my last email regarding how AI could streamline your client support tasks. Is this something that's still on your radar?<br><br>\n\nThanks",
                                "subject": "Surprise for {{31.`1`}}!",
                                "attachments": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 356,
                                    "y": 281
                                },
                                "restore": {
                                    "expect": {
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "account": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-restricted"
                                            },
                                            "label": "My Google Restricted connection (book.beats01@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account:google-restricted",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "from",
                                        "type": "text",
                                        "label": "From"
                                    },
                                    {
                                        "name": "to",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "html",
                                        "type": "text",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": [
                                            {
                                                "name": "fileName",
                                                "type": "filename",
                                                "label": "File name",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "type": "buffer",
                                                "label": "Data",
                                                "required": true,
                                                "semantic": "file:data"
                                            },
                                            {
                                                "name": "cid",
                                                "type": "text",
                                                "label": "Content-ID"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Attachments"
                                    },
                                    {
                                        "name": "cc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Copy recipient"
                                    },
                                    {
                                        "name": "bcc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Blind copy recipient"
                                    }
                                ]
                            },
                            "onerror": [
                                {
                                    "id": 18,
                                    "module": "builtin:Ignore",
                                    "version": 1,
                                    "metadata": {
                                        "designer": {
                                            "x": 795,
                                            "y": 268
                                        }
                                    }
                                }
                            ]
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 5,
                            "module": "open-router:createAChatCompletion",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 9361876
                            },
                            "filter": {
                                "name": "1st email",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{31.`6`}}",
                                            "b": "sent",
                                            "o": "text:notequal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "n": "1",
                                "model": "mistralai/mixtral-8x7b-instruct",
                                "top_p": "1",
                                "fallback": true,
                                "messages": [
                                    {
                                        "role": "system",
                                        "content": "You are an expert cold email copywriter.\r\n\r\nYou receive limited structured info to write persuasive, role-aware emails. Info may be missing. Always write as if you're writing to a real human with a pain point in their job. Use smart assumptions.\r\n\r\nIf `About`{{31.`2`}}is missing, infer based on job role or company, i.e\n“Helps drive growth and efficiency at {{31.`4`}}as a {{31.`3`}}” – if actual About is missing.\r\n\r\nWrite a short email (≤ 80 words) that:\r\n- Starts with a challenge question related to their job or industry.\r\n- Gives 1–2 benefits of how AI automation solves it.\r\n- Ends with a clear CTA to book a call (without saying “quick call”)without indicading any calendly or scheduling link just ask for their closest availability as soon as possible with a polite tone.\r\n\r\nUse proper html tags for every line spacing <br><br> for spacing. Never use common sales cliches.\r\nOnly return the final email in HTML. No headers or explanations.\r\n"
                                    },
                                    {
                                        "role": "user",
                                        "content": "\"Based on the following prospect data, write a highly personalized cold outreach email in HTML format, using <br><br> or <p>for spacing.\n\nProspect Data:\n\nAbout: {{31.`2`}}\nCompany Name: {{31.`4`}}\nJob Role: {{31.`3`}}\nThe email should:\n\nStart with a direct, insightful question that clearly reflects a specific challenge or inefficiency the prospect is likely facing given their job role and company's industry or stated goals.\nFollow with 1–2 concise lines that explain how AI automation, relevant to their specific pain point, can provide a clear solution.\nDon't add subject line\nDon't add \"\" in the start and at the end.\nConclude with a clear, low-friction Call To Action (CTA) to schedule a brief, focused discussion.\nDon't add any salutation, just start the email without it.\nBe written in natural, concise language (under 80 words total).\nExclude all 50 banned sales phrases.\nOutput only the HTML email body – no introductory text, no draft headings.\nEnsure the tone feels human, not robotic or salesy, and the message is short, specific, and value-driven.\nExample of desired personalization (do not use this exact content, but emulate its style and depth:\n\nImagine a prospect is a 'Head of Sales' at a 'B2B SaaS for HR onboarding' and their 'About' section mentions 'scaling sales processes efficiently'.\n\nDesired email style:\n\nStruggling to manage the influx of new client onboarding while maintaining sales velocity? Our AI can automate the initial data collection and pre-qualification for new HR platform clients, freeing your sales team to focus on strategic engagements. This means faster conversions and a smoother experience for your customers from day one. &lt;br>&lt;br> Could a quick chat help explore how this fits your current sales initiatives?\""
                                    }
                                ],
                                "json_mode": false,
                                "temperature": "1"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 352,
                                    "y": -65
                                },
                                "restore": {
                                    "expect": {
                                        "stop": {
                                            "mode": "chose"
                                        },
                                        "model": {
                                            "mode": "chose",
                                            "label": "Mistral: Mixtral 8x7B Instruct"
                                        },
                                        "fallback": {
                                            "mode": "chose"
                                        },
                                        "messages": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "role": {
                                                        "mode": "chose",
                                                        "label": "System"
                                                    }
                                                },
                                                {
                                                    "role": {
                                                        "mode": "chose",
                                                        "label": "User"
                                                    }
                                                }
                                            ]
                                        },
                                        "json_mode": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "open-router-4ur2vj"
                                            },
                                            "label": "My OpenRouter connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:open-router3,open-router-4ur2vj",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "messages",
                                        "spec": [
                                            {
                                                "name": "content",
                                                "type": "text",
                                                "label": "Content",
                                                "required": true
                                            },
                                            {
                                                "name": "role",
                                                "type": "select",
                                                "label": "Role",
                                                "options": [
                                                    {
                                                        "label": "User",
                                                        "value": "user"
                                                    },
                                                    {
                                                        "label": "Assistant",
                                                        "value": "assistant"
                                                    },
                                                    {
                                                        "label": "System",
                                                        "value": "system"
                                                    }
                                                ],
                                                "required": true
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Messages",
                                        "required": true
                                    },
                                    {
                                        "name": "model",
                                        "type": "select",
                                        "label": "Model",
                                        "required": true
                                    },
                                    {
                                        "name": "fallback",
                                        "type": "boolean",
                                        "label": "Enable automatic Fallback?"
                                    },
                                    {
                                        "name": "json_mode",
                                        "type": "boolean",
                                        "label": "Enable JSON Mode?"
                                    },
                                    {
                                        "name": "max_tokens",
                                        "type": "integer",
                                        "label": "Max Tokens"
                                    },
                                    {
                                        "name": "n",
                                        "type": "integer",
                                        "label": "Number of Choices",
                                        "validate": {
                                            "min": 1
                                        }
                                    },
                                    {
                                        "name": "temperature",
                                        "type": "number",
                                        "label": "Temperature",
                                        "validate": {
                                            "max": 2,
                                            "min": 0
                                        }
                                    },
                                    {
                                        "name": "top_p",
                                        "type": "number",
                                        "label": "Top P",
                                        "validate": {
                                            "max": 1,
                                            "min": 0
                                        }
                                    },
                                    {
                                        "name": "frequency_penalty",
                                        "type": "number",
                                        "label": "Frequency Penalty",
                                        "validate": {
                                            "max": 2,
                                            "min": -2
                                        }
                                    },
                                    {
                                        "name": "presence_penalty",
                                        "type": "number",
                                        "label": "Presence Penalty",
                                        "validate": {
                                            "min": 1
                                        }
                                    },
                                    {
                                        "name": "seed",
                                        "type": "integer",
                                        "label": "Seed"
                                    },
                                    {
                                        "name": "stop",
                                        "spec": {
                                            "name": "value",
                                            "type": "text"
                                        },
                                        "type": "array",
                                        "label": "Stop Sequences"
                                    },
                                    {
                                        "name": "top_k",
                                        "type": "number",
                                        "label": "Top k"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 12,
                            "module": "google-email:ActionSendEmail",
                            "version": 2,
                            "parameters": {
                                "account": 5558585
                            },
                            "mapper": {
                                "cc": [],
                                "to": [
                                    "{{31.`5`}}"
                                ],
                                "bcc": [],
                                "from": "",
                                "html": "{{5.choices[].message.content}}<br>\n<p>Regards,<p>\nAli Abro<br>\nAI Automation Engineer",
                                "subject": "Surprise for {{31.`1`}}!",
                                "attachments": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 613,
                                    "y": -53
                                },
                                "restore": {
                                    "expect": {
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "account": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-restricted"
                                            },
                                            "label": "My Google Restricted connection (book.beats01@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account:google-restricted",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "from",
                                        "type": "text",
                                        "label": "From"
                                    },
                                    {
                                        "name": "to",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "html",
                                        "type": "text",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": [
                                            {
                                                "name": "fileName",
                                                "type": "filename",
                                                "label": "File name",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "type": "buffer",
                                                "label": "Data",
                                                "required": true,
                                                "semantic": "file:data"
                                            },
                                            {
                                                "name": "cid",
                                                "type": "text",
                                                "label": "Content-ID"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Attachments"
                                    },
                                    {
                                        "name": "cc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Copy recipient"
                                    },
                                    {
                                        "name": "bcc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Blind copy recipient"
                                    }
                                ]
                            },
                            "onerror": [
                                {
                                    "id": 28,
                                    "module": "builtin:Ignore",
                                    "version": 1,
                                    "filter": {
                                        "name": "Catch all",
                                        "conditions": []
                                    },
                                    "metadata": {
                                        "designer": {
                                            "x": 949,
                                            "y": 56
                                        }
                                    }
                                }
                            ]
                        },
                        {
                            "id": 4,
                            "module": "google-sheets:updateRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 5546416
                            },
                            "mapper": {
                                "from": "drive",
                                "mode": "select",
                                "values": {
                                    "6": "Sent"
                                },
                                "sheetId": "Sheet1",
                                "rowNumber": "{{31.`__ROW_NUMBER__`}}",
                                "spreadsheetId": "/1xuz3842TWSK9o6roHMXLX_MXrSKLxK--qa2aP940WF0",
                                "includesHeaders": true,
                                "valueInputOption": "USER_ENTERED"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 913,
                                    "y": -203
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "sheetId": {
                                            "label": "Sheet1"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "Final emails first sheet ai automation"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "label": "Yes",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "fullName (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "firstName (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "about (C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "jobRole (D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "companyName (E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "email (F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "Status (G)"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "(H)"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "(I)"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "(J)"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "(K)"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "(L)"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "(M)"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "(N)"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "(O)"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "(P)"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "(Q)"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "(R)"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "(S)"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "(T)"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "(U)"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "(V)"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "(W)"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "(X)"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "(Y)"
                                                        },
                                                        {
                                                            "name": "25",
                                                            "type": "text",
                                                            "label": "(Z)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (book.beats01@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "rowNumber",
                                        "type": "uinteger",
                                        "label": "Row number",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "fullName (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "firstName (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "about (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "jobRole (D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "companyName (E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "email (F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "Status (G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "(H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "(I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "(J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "(K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "(L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "(M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "(N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "(O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "(P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "(Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "(R)"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "(S)"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "(T)"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "(U)"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "(V)"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "(W)"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "(X)"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "(Y)"
                                            },
                                            {
                                                "name": "25",
                                                "type": "text",
                                                "label": "(Z)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 27,
                            "module": "util:FunctionSleep",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "duration": "30"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1222,
                                    "y": -58
                                },
                                "restore": {},
                                "expect": [
                                    {
                                        "name": "duration",
                                        "type": "uinteger",
                                        "label": "Delay",
                                        "required": true,
                                        "validate": {
                                            "max": 300,
                                            "min": 1
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 600,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}